<div class="container">
	<div class="row mt-5">
		<% @users.each do |user| %>
			<div class="card p-3 mr-5">
				<div class="card-header">
					<div class="col-md-1">
						<%= link_to user_path(user) do %>
							<span class="text-nowrap"><%= user.name %></span>
					</div>
				</div>
					<div class="col-md-4">
						<%= attachment_image_tag user, :profile_image, :fill, 50, 50 %>
					</div>
						<% end %>
			</div>
		<% end %>
	</div>
</div>
