<div class="container">
	<div class="row mt-5">
		<div class="col-3">
			<p><%= attachment_image_tag @user, :profile_image, :fill, 200, 200 %></p>
		</div>
		<div class="col-9">
			<h2><%= @user.name %></h2>
			<p><%= @user.email %></p>
			<% if @user == current_user %>
			<p><%= link_to "編集する", edit_user_path(@user), class: "btn btn-dark" %></p>
			<% end %>
		</div>
	</div>
</div>