// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.jumbotron{
	background:url(nekoze_top.jpeg) center no-repeat; background-size: cover;
	color: #2F4F4F;
}


.my-gold {
	background: linear-gradient(135deg, #a79756, #faf8c5, #a79756);
}

.like-count {
	font-size: 20px;
}

